<h2 style="display: block;  margin: 0; padding: 0; margin: auto; text-align: center; width: 100%; color: rgb(6, 116, 189); font-family: helvetica;">Solicitud de nueva de contraseña</h2>
<br/>
<div  style="text-align: center; width: 700px;background: whitesmoke;margin: auto;">
<table style="width: 100%; font-family: helvetica;border-bottom: 2px solid rgb(6, 116, 189);background: white;">
	<thead>
		<tr>
		<td style="color: gray; padding: .5em;">
			<img src="http://www.cta.org.co/images/logo-cta-25.png" width="200">
		</td>
			<td style="color: gray; text-align: justify;">
				Hola **nombre**.<br><br>Esta es su nueva contraseña <strong>**pass**</strong><br/><br/> Recuerde, por seguridad, cambiar su contraseña al ingrersar al sistema.
			</td>
		</tr>		
	</thead>	
</table>
<br/>
<br/>
<table style="width: 100%;border-top: solid 2px rgb(6, 116, 189);background: white;">
	<tbody>
		<tr>
			<td style="color: gray; text-align: center; font-family: helvetica;">
				Si usted no autorizó esta acción, por favor cominiquese con el administrador del sitema<br/><strong>Gracias por su solicitud</strong>
			</td>
		</tr>
	</tbody>
</table>
</div>